<section class="ftco-section ftco-wrap-about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex">
        <div class="img img-1 mr-md-2" style="background-image: url(images/about.jpg);"></div>
        <div class="img img-2 ml-md-2" style="background-image: url(images/about-1.jpg);"></div>
      </div>
      <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
        <div class="heading-section mb-4 my-5 my-md-0">
          <span class="subheading">About</span>
          <h2 class="mb-4"></h2>
        </div>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p class="time">
          <span>Mon - Fri <strong>8 AM - 11 PM</strong></span>
          <span><a href="#">+ 1-978-123-4567</a></span>
        </p>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-9">
        <div class="row d-md-flex align-items-center">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="18">0</strong>
                <span>Years of Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Menus/Dish</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="50">0</strong>
                <span>Staffs</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="15000">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center text-md-left">
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <span class="subheading">Gift</span>
        <h2 class="mb-4">Newly Posted Gifts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img" style="background-image: url(http://dodungbaby.com/wp-content/uploads/2018/04/Xe-%C4%91%E1%BA%A9y-tr%E1%BA%BB-em-723-28.jpg);"></div>
          <div class="text pt-4">
            <h3>Xe đẩy Baobaohao</h3>
            <span class="position mb-2">Xe đẩy</span>
            <div class="faded">
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img" style="background-image: url(https://kidsclub.vn/wp-content/uploads/2019/06/Ao-cotton-mickey-mouse-xanh-cho-be-gai-xuat-du.jpg);"></div>
          <div class="text pt-4">
            <h3>Áo thun chuột mickey</h3>
            <span class="position mb-2">Áo</span>
            <div class="faded">
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img" style="background-image: url(https://3.bp.blogspot.com/-3GAdjDWLFO0/W57uTE-mWDI/AAAAAAAAAAQ/D_Ud0aRxyDA_rjk7OZV-gfn0Dd7t9k_pACEwYBhgL/s1600/dotang_zpsa593f409.jpg);"></div>
          <div class="text pt-4">
            <h3>Set áo quần tất cho trẻ</h3>
            <span class="position mb-2">Set đồ</span>
            <div class="faded">
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img" style="background-image: url(https://www.xechobe.com.vn/vnt_upload/news/01_2018/luu_ly_khi_mua_xe_oto_dien_tre_em_cu.jpg);"></div>
          <div class="text pt-4">
            <h3>Xe Ôtô Điện</h3>
            <span class="position mb-2">Đồ dùng-Đồ Chơi</span>
            <div class="faded">
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <span class="subheading">Simple Take</span>
        <h2 class="mb-4">Gift list</h2>
      </div>
    </div>
    <div class="row no-gutters d-flex align-items-stretch">
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
          <div class="menu-img img" style="background-image: url(http://s1.storage.5giay.vn/image/2015/03/20150314_57ba21138a4a6b5d2f9e6ec12cc46b0f_1426303306.JPG);"></div>
          <div class="text d-flex align-items-center">
            <div>
              <div class="d-flex">
                <div class="one-half">
                  <h3>Xe đẩy màu xám pha cam</h3>
                </div>
                <div class="one-forth">
                  <span class="price"></span>
                </div>
              </div>
              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
          <div class="menu-img img" style="background-image: url(https://xedayembenhatban.com/wp-content/uploads/2019/03/xe-day-em-be-second-hand-nhat-ban-10.jpg);"></div>
          <div class="text d-flex align-items-center">
            <div>
              <div class="d-flex">
                <div class="one-half">
                  <h3>Xe đẩy 4 bánh của nhật</h3>
                </div>
                <div class="one-forth">
                  <span class="price"></span>
                </div>
              </div>
              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
          <div class="menu-img img order-md-last" style="background-image: url(https://ichef.bbci.co.uk/news/624/cpsprodpb/14361/production/_108958728_55680211_2339663009377474_2039944998417334272_n.jpg);"></div>
          <div class="text d-flex align-items-center">
            <div>
              <div class="d-flex">
                <div class="one-half">
                  <h3>Áo trắng cho trẻ nhỏ</h3>
                </div>
                <div class="one-forth">
                  <span class="price"></span>
                </div>
              </div>
              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
          <div class="menu-img img order-md-last" style="background-image: url(https://kidsclub.vn/wp-content/uploads/2019/05/Ao-vay-2-day-cho-be-gai-dang-yeu.jpg);"></div>
          <div class="text d-flex align-items-center">
            <div>
              <div class="d-flex">
                <div class="one-half">
                  <h3>Áo váy 2 dây trắng dập hoa cúc sau</h3>
                </div>
                <div class="one-forth">
                  <span class="price"></span>
                </div>
              </div>
              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
          <div class="menu-img img" style="background-image: url(https://kidsplaza-1.cdn.vccloud.vn/media/catalog/product/cache/1/image/430x/9df78eab33525d08d6e5fb8d27136e95/q/u/qu_n_i_p_ng_cho_tr_s_sinh_kiza_h_n16_4_4.jpg);"></div>
          <div class="text d-flex align-items-center">
            <div>
              <div class="d-flex">
                <div class="one-half">
                  <h3>Quần sơ sinh đáp đũng cho trẻ sơ sinh</h3>
                </div>
                <div class="one-forth">
                  <span class="price"></span>
                </div>
              </div>
              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
        <div class="menus d-sm-flex ftco-animate align-items-stretch">
          <div class="menu-img img" style="background-image: url(http://quanaotresosinh.com/kcfinder/upload/images/quan-tre-so-sinh-dai-loai-tot%20%281%29.jpg);"></div>
          <div class="text d-flex align-items-center">
            <div>
              <div class="d-flex">
                <div class="one-half">
                  <h3>Quần dài trẻ sơ sinh</h3>
                </div>
                <div class="one-forth">
                  <span class="price"></span>
                </div>
              </div>
              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              <p><a href="#" class="btn btn-primary">Accept this gift</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section img" style="background-image: url(https://www.todaysparent.com/wp-content/uploads/2019/01/see-ya-swaddle-1280x960-1024x576-1548433048.jpg)" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-7 ftco-animate makereservation p-4 px-md-5 pb-md-5">
        <div class="heading-section ftco-animate mb-5 text-center">
          <span class="subheading">Book a table</span>
          <h2 class="mb-4">Make Reservation</h2>
        </div>
        <form action="#">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Phone</label>
                <input type="text" class="form-control" placeholder="Phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Phone</label>
                <input type="text" class="form-control" id="book_date" placeholder="Date">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Time</label>
                <input type="text" class="form-control" id="book_time" placeholder="Time">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Person</label>
                <div class="select-wrap one-third">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control">
                    <option value="">Person</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4+</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="form-group text-center">
                <input type="submit" value="Make a Reservation" class="btn btn-primary py-3 px-5">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Happy Customer</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap text-center pb-5">
              <div class="user-img mb-4" style="background-image: url(images/tung.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Thanh Tùng</p>
                <span class="position">Customer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center pb-5">
              <div class="user-img mb-4" style="background-image: url(images/minh.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Dương Minh</p>
                <span class="position">Customer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center pb-5">
              <div class="user-img mb-4" style="background-image: url(images/hanh.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Giang Hạnh</p>
                <span class="position">Customer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center pb-5">
              <div class="user-img mb-4" style="background-image: url(images/tung.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Thanh Tùng</p>
                <span class="position">Customer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center pb-5">
              <div class="user-img mb-4" style="background-image: url(images/hanh.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Dương Minh</p>
                <span class="position">Customer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
