<app-top-nav></app-top-nav>
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!--  Product Details -->
      <div class="product product-details clearfix">
        <div class="col-md-8">
          <app-slide [state]="state" [thumbnails]="gift?.thumbnail"></app-slide>
        </div>
        <div class="col-md-4">
          <div class="product-body">
            <h2 class="product-name text-capitalize">{{gift?.name}}</h2>
            <div class="product-options">
            </div>
            <strong>Mô tả</strong>
            <p>{{gift?.description}}</p>
            <strong>Danh mục</strong>
            <p>{{gift?.categoryName}}</p>
            <strong>Địa chỉ</strong>
            <p>{{gift?.cityName}}</p>
            <div>
              <img class="avatar-image" src="../../../../assets/images/avatar.png" alt="">
              <span class="text-capitalize"><b>{{gift?.accountName}}</b></span>
            </div>
            <div _ngcontent-exo-c6="" class="product-options"></div>
            <div class="product-btns">
              <button class="primary-btn add-to-cart" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@fat">Nhận ngay</button>
                <div class="pull-right">
                  <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                </div>
                

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <exchange-form (submitExchange)="submitExchange($event)"></exchange-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="product-tab">
            <ul class="tab-nav">
              <li *ngIf="!showRequest" [ngClass]="showRequest ? '': 'active'">
                <a data-toggle="tab" href="#tab1">Những người đã quan tâm</a>
                </li>
            </ul>
            <div class="tab-content">
              <div *ngIf="!showRequest" [ngClass]="showRequest ? '': 'active'" id="tab1"
                class="tab-pane fade in table-reponsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tên người nhận</th>
                      <th scope="col">Lời nhắn</th>
                      <th scope="col">Tên món đồ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e of exchangeResp">
                      <th scope="row">{{e.id}}</th>
                      <td class="min-width-table">{{e.accountName}}</td>
                      <td class="min-width-table">{{e.message}}</td>
                      <td class="min-width-table">{{e.giftName}}</td>
                      <td class="min-width-table">
                        <button (click)="confirmRequest()" class="btn btn-success mr">Chấp nhận</button>
                        <button (click)="cancelRequest()" class="btn btn-danger">không chấp nhận</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /Product Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row container">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="text-uppercase">Những món đồ liên quan</h3>
        </div>
      </div>
      <!-- section title -->
      <app-gift-card [gifts]="gifts$ | async | slice:0:3"></app-gift-card>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>