<app-top-nav></app-top-nav>
<div class="container">
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-3">
          <div class="profile-img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
              alt="" />
            <div class="file btn btn-lg btn-primary">
              Change Photo
              <input type="file" name="file" />
            </div>
          </div>
          <div class="profile-work">
            <p>WORK LINK</p>
            {{accountInfo | json}}
            <a class="text-capitalize">{{account?.username}}</a><br>
            <a class="text-capitalize">{{accountInfo?.firstName}} {{accountInfo?.lastName}}</a><br>
            <a class="text-capitalize">{{accountInfo?.email}}</a><br>
            <a class="text-capitalize">{{accountInfo?.dob}}</a><br>
            <a class="text-capitalize">{{accountInfo?.accountName}}</a><br>
            <a class="text-capitalize">{{accountInfo?.accountId}}</a><br>
            <a class="text-capitalize">{{accountInfo?.createdAt}}</a><br>
            <a class="text-capitalize">{{accountInfo?.updatedAt}}</a><br>
          </div>
        </div>
        <div class="col-md-9">
          <div class="profile-head">
            <h5>
              Kshiti Ghelani
            </h5>
            <h6>
              Web Developer and Designer
            </h6>
            <div class="product-tab">
              <ul class="tab-nav">
                <li class="active">
                  <a data-toggle="tab" href="#tab1" aria-expanded="false">Những người đã quan tâm</a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#tab2" aria-expanded="false">Yêu cầu trao đổi</a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#tab3" aria-expanded="true">Nhận lại</a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#tab4" aria-expanded="true">Cho đi</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                  <b>Những người đã quan tâm</b>
                  <app-request></app-request>
                </div>
                <div id="tab2" class="tab-pane fade ">
                  Yêu cầu trao đổi
                  <app-request></app-request>
                </div>
                <div id="tab3" class="tab-pane fade ">
                  Nhận lại
                  <app-transaction></app-transaction>
                </div>
                <div id="tab4" class="tab-pane fade ">
                  Cho đi
                  <app-transaction></app-transaction>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
        </div>
      </div>
      <div class="row">
      </div>
    </form>
  </div>
</div>