<app-top-nav></app-top-nav>
<!-- {{(gift$ | async)?.pagination | json}} <br> -->
<!-- {{(gift$ | async)?.data | json}} -->

<!--{{gift$ | async | json}}-->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<div class="aside">
					<h3 class="aside-title">Địa chỉ</h3>
					<ul class="list-links">
						<li>
							<select class="input" [(ngModel)]='city' (ngModelChange)="onCityChange($event)">
								<option [value]="city">{{city.name}}</option>
								<option *ngFor="let c of cities$ | async" [ngValue]="c">{{c.name}}
								</option>
							</select>
						</li>
						<li>
							<select class="input spacing-address" [(ngModel)]="district">
								<option [value]="district">{{district.name}}</option>
								<option *ngFor="let c of districts$ | async" [ngValue]="c.id">{{c.name}}</option>
							</select>
						</li>
					</ul>
				</div>
				<!-- /aside widget -->

				<!-- aside widget -->
				<div class="aside">
					<h3 class="aside-title">Giới tính</h3>
					<ul class="list-links">
						<li class="active"><a href="#">Nam</a></li>
						<li><a href="#">Nữ</a></li>
					</ul>
				</div>
				<!-- /aside widget -->

				<!-- aside widget -->
				<div class="aside">
					<h3 class="aside-title">Độ tuổi</h3>
					<ul class="list-links">
						<li class="active"><a href="#">0 đển 6 Tháng</a></li>
						<li><a href="#">6 đển 12 Tháng</a></li>
						<li><a href="#">1 đển 3 Tuổi</a></li>
						<li><a href="#">Trên 4 tuổi</a></li>
					</ul>
				</div>
				<!-- /aside widget -->
			</div>
			<!-- /ASIDE -->

			<!-- MAIN -->
			<div id="main" class="col-md-9">
				<!-- store top filter -->
				<!-- /store top filter -->

				<!-- STORE -->
				<app-gift-card [gifts]="gift$ | async"></app-gift-card>
				<!-- /STORE -->

				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<div class="pull-left">
						<div class="sort-filter">
						</div>
					</div>
					<div class="pull-right">
						<div class="page-filter">
							<span class="text-uppercase">Show:</span>
							<select class="input">
								<option value="0">10</option>
								<option value="1">20</option>
								<option value="2">30</option>
							</select>
						</div>
						<ul class="store-pages">
							<li><span class="text-uppercase">Page:</span></li>
							<li class="active">1</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /MAIN -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>