<div class="row">
  <div *ngFor="let g of gifts">
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="product product-single">
        <div class="product-thumb">
          <img [src]="g.thumbnail" alt="">
        </div>
        <div class="product-body">
          <h2 class="product-name"><a routerLink="/product/{{g.id}}">{{g.name}}</a></h2>
          <a >Test</a>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{g.description}}</p>
          <div class="product-btns">
            <button class="primary-btn add-to-cart">Quan Tâm</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
