<!-- Navigation -->
<div class="py-1 bg-black top">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
            <span class="text">+ 1235 2355 98</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
            <span class="text">youremail@email.com</span>
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
            <p class="mb-0 register-link"><span>Open hours:</span> <span>Monday - Sunday</span> <span>8:00AM - 9:00PM</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Simple Take</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Stories</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item cta"><a href="reservation.html" class="nav-link">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<section class="home-slider owl-carousel js-fullheight">
  <div class="slider-item js-fullheight" style="background-image: url(http://hamperquatang.com/quanly/fileman/uphinh/GOI-QUA-TANG-CHUYEN-NGHIEP.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-12 col-sm-12 text-center ftco-animate">
          <span class="subheading">Simple Take</span>
          <h1 class="mb-4"></h1>
        </div>

      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image: url(http://vn-live-02.slatic.net/p/4/goi-qua-tang-cho-be-gifthings-yellow-school-bus-4899-2330852-a08361fc956262eb92f5e2d4b33f303e.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-12 col-sm-12 text-center ftco-animate">
          <span class="subheading">Simple Take</span>
          <h1 class="mb-4"></h1>
        </div>

      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image: url(https://www.moby.com.vn/data/ck/images/Nh%E1%BB%AFng%20m%E1%BA%ABu%20qu%E1%BA%A7n%20%C3%A1o%20d%C3%A0nh%20cho%20b%C3%A9%20trai%205%20tu%E1%BB%95i-%20%E1%BA%A2nh%202.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-12 col-sm-12 text-center ftco-animate">
          <span class="subheading">Simple Take</span>
          <h1 class="mb-4"></h1>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="featured">
          <div class="row">
            <div class="col-md-3">
              <div class="featured-menus ftco-animate">
                <div class="menu-img img" style="background-image: url(https://familykid.vn/content/images/thumbs/0000346_fk312-ao-thun-dai-tay-little-maven_550.jpeg);"></div>
                <div class="text text-center">
                  <h3>Áo</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="featured-menus ftco-animate">
                <div class="menu-img img" style="background-image: url(https://www.jojomamanbebe.co.uk/media/catalog/product/cache/2/image/1000x/cc44d3b39965d3efd15a8158cb2fdfb4/b/2/b2176ensc4.jpg);"></div>
                <div class="text text-center">
                  <h3>Quần</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="featured-menus ftco-animate">
                <div class="menu-img img" style="background-image: url(https://shoptretho.com.vn/upload/image/product/20170721/xe-day-tre-em-gluck-b6-2017-2.jpg);"></div>
                <div class="text text-center">
                  <h3>Xe Đẩy</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="featured-menus ftco-animate">
                <div class="menu-img img" style="background-image: url(https://www.sendo.vn/nhip-song/media/camnang/2016/02/do-choi-nau-an.jpg);"></div>
                <div class="text text-center">
                  <h3>Đồ Dùng-Đồ Chơi</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

