<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <!-- category nav -->
      <div class="category-nav show-on-click">
        <span class="category-header" style="cursor: pointer" (click)="showSideBar()">Danh mục <i class="fa fa-list"></i></span>
        <ul [class.open]="showNav" class="category-list">
          <li *ngFor="let c of category$ | async"><a [routerLink]="['/products']" [queryParams]="{cate: c.name}"
            [queryParamsHandling]="'merge'" >{{c.name}}</a></li>
        </ul>
      </div>
      <!-- /category nav -->

      <!-- menu nav -->
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <!-- menu nav -->
    </div>
  </div>
  <!-- /container -->
</div>
